.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 0;
}

.dashboard-media {
  display: flex;
  text-align: right;
  margin: 30px 50px;
}

.dashboard-alert {
  width: 100%;
}

.dashboard-analytics {
  position: fixed;
  left: 2%;
  top: 32%;
  height: 25%;
  color: white;
}

.dashboard-options {
  width: 100%;
  position: fixed;
  padding: 0 20px;
  bottom: 8%;
  text-align: center;
}

.dashboard-options button:hover {
  color: red;
  border: 1px solid red;
}

.local-stream-false {
  width: 80%;
}

.local-stream-true {
  position: fixed;
  left: 2%;
  top: 3%;
  height: 25%;
}

.client-stream {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.input-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}
